<div class="row" id="intro">
 <div class="col">
  <p>
   I am honored and blessed to have known and loved 
   <a href="https://www.minotdailynews.com/obituaries/2025/04/jesse-nelson/">Jesse Robert Nelson</a> for all of 
   his much too brief 43 years. Jesse represented the best of all of us brothers; his height, his charisma, 
   his love, his lust for life, and particularly relevant for me, his long luxurious hair! Most of all, Jesse's
   singular intelligence and emotional brilliance was evidenced as he really listened and tried to help you 
   think through whatever problems or concerns you may have had. 
 </p>
 <p>
   Jesse was thinking and problem-solving all of the time. We found out this week that with all of 
   his blood rushing to feed this magnificent human, it burst through a blood vessel, flooding his 
   brain, and killing him.
 </p>
 <p>
  Whenever any of us family were together with Jesse, he always made us laugh with his caring and his love apparent 
  as he teased us with his humor and grace. My youngest sister Angie classifies us siblings as  
  uppers (myself, Jake, and Jill) and the downers (Judd, Jarrett, and Angie), Jesse was the true middle child 
  combining both uppers and downers traits. As my father recently commented, the acronym WWJD should now be changed to 
  <i>What Would Jesse Do?</i> 
 </p>   
 </div>
 <div class="col">
  <figure class="figure">
     <img src="static/imgs/family-jesse-funeral.png" class="figure-img img-fluid rounded" alt="Family Portrait at Jesse Nelson's Kief 29 March 02025 Funeral">
     <figcaption class="figure-caption">
       (left-to-right) Judd Nelson, Jarrett Nelson (holding Jesse's ashes), Jake Nelson (back row), Carolyn Nelson, Jill Case, Jeremy Nelson (back row),
       Angie Belknap, Paul Nelson
  </figure>
  <img src="static/imgs/WWJD_QR.png" style="width: 300px" class="rounded" alt="QR Code for Eulogy">
 </div>
</div>
