<div class="row" id="intro">
 <div class="col">
  {{ "jesse-eulogy-intro"|from_mkdwn|safe }}
 </div>
 <div class="col">
  <figure class="figure">
     <img src="static/imgs/family-jesse-funeral.jpg" class="figure-img img-fluid rounded" alt="Family Portrait at Jesse Nelson's Kief 29 March 02025 Funeral">
     <figcaption class="figure-caption">
       (left-to-right) Judd Nelson, Jarrett Nelson (holding Jesse's ashes), Jake Nelson (back row), Carolyn Nelson, Jill Case, Jeremy Nelson (back row),
       Angie Belknap, Paul Nelson
  </figure>
  <img src="static/imgs/WWJD_QR.png" style="width: 300px" class="rounded" alt="QR Code for Eulogy">
 </div>
</div>
