<h3>Final Thoughts</h3>
<p>
 Our world and my life is a lot less interesting and dark with the great light that was extinguished with
 Jesse leaving us. He will never be forgotten in my lifetime and my heart is irreversibly broken. Jesse was 
 one of the noblest, kindest, and greatest human I have ever known. It is a great injustice and tragedy that 
 he will not be able to watch Noah and David grow to adulthood with his wife Ellie. May all of us live up to 
 Jesse’s example of being genuine good (but ornery) and face with the world with his compassion, his sensitivity 
 for all living things, his sense of justice, and his consistent optimism for the future. 
 I love Jesse Nelson so much and I, my family, and his friends will never be the same. 
</p>
<p>
 Please remember Jesse and try to live up to his example as a creative, spiritual, and most of all
 loving human being.
</p>
