<article id="jesse-childhood" class="col">
 <h3>Childhood</h3>
 <p>
  Jesse was the first sibling whom I regularly changed his diapers.  His adventures as a toddler caused 
  my mother and father no end of anxiety and anger, particularly when it came to Jesse’s fascination with 
  our fireplace at our first home in <a href="https://en.wikipedia.org/wiki/Palisade,_Colorado">Palisade, 
  Colorado</a>.
 </p>
 <img src="static/imgs/01982-jesse-jill-jimmy-inman.png" class="img-thumbnail">
 <p>
  Once as a toddler, Jesse was sick and so severely dehydrated, it required his hospitalization. 
  I remember for the first time being very scared we might lose him and how incomprehensible that loss would 
  be to me and our family.
 </p>
 <p>
  Later when we moved to the house on Smith Avenue, Jesse was always busy, playing house with my sister 
  Jill, and challenging my parents rules with trademark smirk with a twinkle in his eyes as he was about 
  to do something ornery. A trait he carried throughout his life.
 </p>
</article>

