<article class="col" id="early-2000s">
 <h3>The Early 2000s</h3>
 <p>
  Jesse moved to <a href="https://en.wikipedia.org/wiki/Portland,_Oregon">Portland, Oregon</a> soon after and 
  I visited him two or three times. On my first trip I remember staying with him and his best friend Tyler, playing 
  <a href="https://en.wikipedia.org/wiki/Star_Wars_Episode_I:_Racer">Star Wars Pod Racer</a> on the Nintendo 64
  on Tyler's projector. On another trip, we drove to the ocean, went crabbing, and then drove to meet our Aunt Evie and spending 
  time with our cousin Monty.
 </p>
 <p>
  During my own struggles when I lived in <a href="https://en.wikipedia.org/wiki/Utah">Utah</a>, Jesse was 
  always compassionate but firm and his love for me provided a light and waypoint in my own darkness and despair.
  I began my spiritual journey as an empirical <a href="https://en.wikipedia.org/wiki/Nontheist_Quakers">Non-Theist 
  Quaker</a> as a member of the <a href="https://www.saltlakequakers.org">Salt Lake City Friends Meeting</a> in 2004. 
  I am currently a member of the <a href="https://coloradospringsquakers.org">Colorado Springs Monthly Meeting</a> and 
  an attender at the <a href="https://sfquakers.org">San Francisco Friends Meeting</a>. Jesse, myself and the rest 
  of my siblings where raised by our parents in the 
  <a href="https://jw.org/">Jehovah Witnesses</a> faith. I was never baptised but Jesse was. His churches 
  in North Dakota, <a href="https://en.wikipedia.org/wiki/Liberty_Baptist_Church_(Kief,_North_Dakota)">Liberty Baptist Church</a> 
  in Kief and <a href="https://livingwordminotnd.org">Living Word Lutheran Church</a> and in 
  <a href="https://en.wikipedia.org/wiki/Minot,_North_Dakota">Minot</a> grew Jesse's Christian Faith. I share the same 
  conception of God as <a href="https://en.wikipedia.org/wiki/Baruch_Spinoza">Spinoza</a> and 
  <a href="https://en.wikipedia.org/wiki/Albert_Einstein">Albert Einstein</a>. I respect Yahwah, Buddha, Earth Seed, 
  Odin, Jehovah, Allah, and all of other rich world religions as did Jesse.
 </p>
 <p>
  As the decade closed, Jesse was working at <a href="https://blackjackpizza.com">Blackjack Pizza</a> in Grand Junction 
  and he had the opportunity to purchase the franchise. We always shared a love of entrepreneurship and I was his 
  silent partner, providing the initial loan for purchasing Blackjack and helped cover expenses in that first year. 
  He would work 100+ hours a week, often forgoing his own pay to meet his employees' payroll. I won't go into the 
  ugliness of the lawsuit brought on by a few of his employees but when he told me he would have to declare 
  bankruptcy and close the restaurant, he was so apologetic, crying and worried that he was disappointing me. 
  I never thought that and I was so proud (and still am) of his hard work and effort. I am convinced that absent 
  the lawsuit, he would have made a great success of Blackjack. He was never bitter towards those employees and even 
  in the worst moments, kept his trademark optimism and belief that things would get better.
 </p>
</article>

