<article class="col" id="2010s-and-teens">
 <h3>The 2010s and teens</h3>
 <p>
  Jesse next worked as a manager for a Palisade Peach orchard in our hometown. I remember visiting him during a 
  harvest with my girlfriend, now wife, Melissa and her wonderful daughters Carmen and Meghan. Even though he 
  was extremely busy, he took the time to show us around and as you all know, Jesse was always generous with 
  whatever he could provide and we left with a freshly picked box of peaches.
 </p>
 <p>
  On one of my visits to Grand Junction, I stayed overnight in his old camper on his Whitewater property. We got 
  drunk, and I remember stumbling in the dark to try find the outhouse on his compound that he was building. Jesse 
  was a collector on scale rarely seen. I would joke to my brother Jarrett, that with 40 acres, Jesse was able to 
  indulge his inner pack rat; collecting anything and everything. Jesse's grand plans for the 
  property were always in flux. I loved touring the property, seeing his chickens, goats and rabbits, playing with his 
  dog Gunner, shooting his modified .308 AK-47 and my Ruger 10/22, and seeing his many "in progress" projects.
</p>
</article>
