<article class="col" id="last-years">
 <h3>The Last Years</h3>
 <p>
  Following the peach orchards, he then worked as an electrician with my brother Jake. After his commercial
  hemp growing adventures in <a href="https://en.wikipedia.org/wiki/Oklahoma">Oklahoma</a> ended in typical
  Jesse fashion, he moved to North Dakota upon the suggestion of my brother Judd. This began the period of his 
  life that I know he was at his happiest.
 </p>
 <p>
  Meeting and then marrying Ellie and followed by the births of his sons Noah and then David, Jesse was the 
  most content I ever saw him on the two times I was fortunately to visit. Jesse on my phone conversations 
  after that visit and leading up to our last one two weeks before his death, always spoke with such high regard,
  respect, and humor about his employees when he was working as General Manager of 
  <a href="https://pizzaranch.com/locations/nd/minot/305-37th-avenue-sw">Pizza Ranch</a> here in Minot.
 </p>
 <p>
  His growing property empire also provided me many smiles as he described his again, always changing plans.
  The houses and property he now owed attending by bidding in property auctions in remote central North Dakota 
  towns I had never heard of like <a href="https://en.wikipedia.org/wiki/Anamoose,_North_Dakota">Anamoose</a>, 
  <a href="https://en.wikipedia.org/wiki/Drake,_North_Dakota">Drake</a>,
  <a href="https://en.wikipedia.org/wiki/Kief,_North_Dakota">Kief</a>, and of course the old Catholic church
  and house in <a href="https://en.wikipedia.org/wiki/Balfour,_North_Dakota">Balfour</a>. We would spin yarns,
  Jesse tempering my initial enthusiasm for his ideas about turning the Belfour Church into a book and/or antiques 
  store with a coffee shop. My contribution to this dream was first a name, <strong>The North Dakota Book Co-op</strong>. 
  To heat the church/bookstore/cafe, we would incorporate various computer servers in the bookshelves for 
  fine-tuning my <a href="https://knowledgelinks.io">company's</a> LLMs while marketing hosted 
  <a href="https://folio.org/">FOLIO Catalogs</a> to an underserved market of Church Libraries 
  (and other libraries of course).
 </p>
 <p>
  In our last phone conversation mentioned above, we discussed planting multiple apple 
  orchards in some of the city lots that he now owned. Jesse knew that revitalizing and 
  repopulating these rural North Dakota communities required new local businesses and new 
  agriculture models.  
 </p>
</article>
