<article class="col" id="pre-teen-and-teen">
 <h3>Pre-teen &amp; Teen</h3>
 <p>
   While I was in high school, my Mom wanted me to do something with Jesse. I suggested we go camping (I 
   think it was earlier Summer) on the <a href="https://en.wikipedia.org/wiki/Grand_Mesa">Grand Mesa</a>. 
   We were woefully unprepared. Our plan was to sleep in the bed of my Dad's blue truck but after night came 
   we were freezing so we ended up in the cab huddled together for warmth until sunrise and we then drove back 
   home forgoing our fishing plans. He never complained and I think partly because he was excited about 
   having an adventure with his oldest brother.
 </p>
 <p>
   When I was working as lifeguard at Lincoln Park pool in 
   <a href="https://en.wikipedia.org/wiki/Grand_Junction,_Colorado">Grand Junction</a>, Jesse was there 
   swimming with some of his friends. He was always observant and he when saw my new ankle tattoo, he 
   asked me with all seriousness if it was the initials of my girlfriend. I laughed and said no, the tattoo 
   was of my <a href="https://www.knox.edu/">Knox College</a> fraternity, Sigma Nu in 
   <a href="https://en.wikipedia.org/wiki/Galesburg,_Illinois">Galesburg, Illinois</a>.
 </p>
</article>
