<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WWJD?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ prefix }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jesse's Life
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#jesse-childhood">Childhood</a></li>
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#pre-teen-and-teen">Pre-teen &amp; Teens</a></li>
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#high-school-and-after">High School &amp; After</a></li>
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#early-2000s">The Early 2000s</a></li>
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#2010s-and-teens">The 2010s and Teens</a></li>
            <li><a class="dropdown-item" href="{{ prefix }}/index.html#last-years">The Last Years</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Timeline
          </a>
          <ul class="dropdown-menu">
          {% for year in timeline %}
            <li><a class="dropdown-item" href="{{ prefix }}/years/0{{ year }}.html">{{ year }}</a></li>
          {% endfor %} 
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Coming soon</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
