<div class="row">
 <div class="col">
   <img src="static/imgs/jerms-jesse.jpg" alt="Jeremy and Jesse Nelson" style="width: 420px">
 </div>
 <div class="col"> 
   <h4>I will leave you with my own list of WWJDs:</h4>
   <ul>
     <li class="wwjd">
      To make a profit selling pizza, all ingredients matter and should be each be weighed to insure 
      consistency from pie-to-pie.
     </li>
     <li class="wwjd">
      The second most important piece of a pothead's kit is a lighter. A pipe can be made from anything.
     </li>
     <li class="wwjd">
      Count your yawns when driving. If you yawn four times in succession, you are too tired to 
      drive. Pull over and rest or have someone else drive.
     </li>
     <li class="wwjd">
      To win at <a href="https://www.denverbroncos.com">football</a>, start with the Base Defense and a good running back.
     </li>
     <li class="wwjd">Marry the love of your life and be blessed with two sons</li>
     <li class="d-none wwjd">Pizza and Pot are <a href="https://en.wikipedia.org/wiki/Complementary_good">complementary goods</a></li>
     <li class="d-none wwjd">Watch less Television</li>
     <li class="d-none wwjd">Watch <a href="https://en.wikipedia.org/wiki/Office_Space">Office Space</a></li>
     <li class="d-none wwjd">Be a night owl and early bird but take lots of naps</li>
     <li class="d-none wwjd">If all your goats have names; they are pets and not livestock</li>
     <li class="d-none wwjd">Cover a Bob Dylan song at your local bar's Open Mic</li>
     <li class="d-none wwjd" data-author="Irving Birker">If you can't stop picking out your eyebrows, just shave them off</li>
        <!-- <li class="d-none" id="" data-author="Jake Nelson"></li> -->
   </ul>
    <button class="btn btn-success" onclick="revealWWJD()">More</button><br>
</div>
<script>
    function revealWWJD() {
      // Select all hidden <li> elements
      let hiddenItems = document.querySelectorAll("li.d-none");

      if (hiddenItems.length > 0) {
        // Pick a random index
        let randomIndex = Math.floor(Math.random() * hiddenItems.length);
        
        // Remove the 'd-none' class
        hiddenItems[randomIndex].classList.remove("d-none");
     }
   }
</script>
