<div class="row">
      <div class="col">
       <p>
        Please email me at <a href="mailto:jermnelson@gmail.com">jermnelson@gmail.com</a> or submit a 
        Github <a href="https://github.com/jermnelson/what-would-jesse-do/issues">WWJD? Card Ticket</a>. I'll add your memories, photos, 
        and your own WWJD?s to this website. You can also clone the 
        <a href="https://github.com/jermnelson/what-would-jesse-do/">repository</a> and do a pull-request (I'll help &#9786)
       </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
       <div class="card" style="width: 18rem;">
        <img src="static/imgs/ellie-jesse.jpeg" class="card-img-top" alt="Jesse and Ellie Nelson">
        <div class="card-body">
         <h5 class="card-title">AI and this Eulogy</h5>
         <ul class="card-list">
           <li>ChatGPT's <a href="https://chatgpt.com/share/67ef9f17-da64-800e-80f8-b4d5f5ef6715">response</a></li>
           <li>Claude's <a href="https://claude.ai/share/d3ee583b-d83f-4d0d-9e52-47d42a932f5d">response</a></li>
         </ul>
        </div>
       </div>
      </div>
      <div class="col">
       <div class="card" style="width: 18rem;">
        <img src="static/imgs/jesse-noah.png" class="card-img-top" alt="Jesse and Noah Nelson">
        <div class="card-body">
         <h5 class="card-title">AI and this Eulogy cont.</h5>
         <ul class="card-list">
           <li>Deep Seek's <a href="">response</a></li>
           <li>Google Gemini's <a href="https://g.co/gemini/share/13222c413a9c">response</a></li>
         </ul>
        </div>
       </div>
      </div>
     <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/imgs/jesse-david-cannon.jpeg" class="card-img-top" alt="Jesse Nelson, David Nelson, and Cannon, the son of Gunner">
        <div class="card-body">
          <h5 class="card-title">AI and this Eulogy final</h5>
         <ul class="card-list">
           <li>Meta/Facebook Llama's <a href="https://www.meta.ai/c/4bef0ab9-2001-4399-8252-4df7e60d60bf">response</a></li>
           <li>X Grok's <a href="https://grok.com/share/c2hhcmQtMg%3D%3D_99f088bd-7254-412b-b0bc-81bd728b43ec">response</a></li>
         </ul>
        </div>
     </div>
    </div>
  </div>
